/*
* @Author: BaiRuobing
* @Date:   2018-05-28 17:19:32
* @Last Modified by:   BaiRuobing
* @Last Modified time: 2018-06-06 22:47:32
*/
@font-face {
  font-family: 'iconfont';  /* project id 697244 */
  src: url('//at.alicdn.com/t/font_697244_a5395ciahsxuhaor.eot');
  src: url('//at.alicdn.com/t/font_697244_a5395ciahsxuhaor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_697244_a5395ciahsxuhaor.woff') format('woff'),
  url('//at.alicdn.com/t/font_697244_a5395ciahsxuhaor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_697244_a5395ciahsxuhaor.svg#iconfont') format('svg');
}
.iconfont{
    font-family: "iconfont" !important;
    font-size:16px;
    font-style:normal;
    padding-left:20px
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

body {
    --n: calc(n);
    margin: 0;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
img {
    border: 0;
}
/*顶栏广告*/
.top-ad-bar {
    position: relative;
    background-image: url(./img/top-ad-bar.jpg);
    background-position: center 0;
    width: 100%;
    height: 120px;
}
.top-ad-bar a {
    display: block;
    width: 100%;
    height: 100%;
}
/*顶部导航栏*/
.topbar {
    position: relative;
    background-color: #333;
    color: #b0b0b0;
    height: 40px;
    width: 100%; 
    font-size: 12px;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.topbar a {
    text-decoration: none;
    line-height: 40px;
    color: #b0b0b0;
}
.topbar a:hover {
    color: #fff;
}
.topbar-nav {
    float: left;
}
.separator {
    margin: 0.5em;
}
.topbar-cart {
    position: relative;
}
.topbar-cart a {
    position: relative;
    background: #424242;
    float: right;
    margin-left: 15px;
    width: 120px;
    height: 40px;
    text-align: center;
}
.topbar-cart .iconcart {
    font-style: normal;
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
}
.cart-menu {
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    transition: all .3s;
}
.topbar-cart:hover {
    background: #fff;
}
/*悬停变色*/
.topbar-cart:hover a,
.topbar-cart:hover i,
.topbar-cart:hover span {
    color: #ff6700;
    background-color: #fff;
}
.topbar-cart:hover .cart-menu {
    z-index: 50;
    height: 100px;
}
.cart-menu .loading {
    text-align: center;
    margin: 40px;
}
/*载入动画，关于矩形顶端不便的问题还未解决*/
.loader {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -8px;
    height: 20px;
    width: 4px;
    background-color: #ff6700;
    animation: loader-movement 0.7s linear infinite;
}
.loader::before {
    position: absolute;
    left: 8px;
    content: '';
    height: 20px;
    width: 4px;
    background-color: red;
    animation: loader-movement 0.7s linear 0.2s infinite;
}
.loader::after {
    position: absolute;
    left: 16px;
    content: '';
    height: 20px;
    width: 4px;
    background-color: #ff6700;
    animation: loader-movement 0.7s linear 0.4s infinite;
}
@keyframes loader-movement {
    0% { 
        height: 20px; 
    }
    50% {
        height: 10px; 
    }
    100% { 
        height: 20px; 
    }
}
/*topbar-info*/
.topbar-info {
    float: right;
}

/*header*/
.header {
    position: relative;
    height: 100px;
    width: 100%;
}
.header-logo {
    float: left;
    margin-top: 22px; 
}
.header .logo {
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-color: #ff6700;
    background-image: url(./img/logo.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}
.header-nav {
    float: left;
    width: 850px;
}
.nav-list {
    float: left;
    margin: 0;
    width: 820px;
    height: 88px;
    padding: 12px 0 0 172px;
    list-style-type: none;
    font-size: 16px;
}
.header .nav-item .link {
    float: left;
    padding: 26px 10px 38px;
    text-decoration: none;
    color: #333;
}
.nav-item:hover .link{
    color: #ff6700;
}

/*-----------小米手机、红米等导航栏移出效果待完成-------------*/
.header .header-search {
    position: relative;
    float: right;
    width: 296px;
    margin-top: 25px;
}
.search-form {
    position: relative;
    width: 296px;
    height: 50px;

}
.search-form input:hover,
.search-form input:hover~input {
    border: 1px solid #757575;
}
.search-form input:focus,
.search-form input:focus~input {
    border: 1px solid #ff6700;
}


    .search-text {
        z-index: 1;
        box-sizing: content-box;
        position: absolute;
        top: 0;
        right: 51px;
        width: 223px;
        height: 48px;
        padding: 0 10px;
        border: 1px solid #e0e0e0;
        font-size: 14px;
        line-height: 48px;
        outline: 0;
        transition: all .3s;
    }
        .search-hot-word {
        z-index: 2;
        position: absolute;
        top: 14px;
        right: 62px;
        }
        .search-hot-word a {
            display: inline-block;
            margin-left: 5px;
            padding: 2px 5px;
            font-size: 12px;
            color: #757575;
            background: #eee;
            text-decoration: none;
            transition: all .3s;
        }
        .search-hot-word a:hover {
            color: #fff;
            background: #ff6700;
        }
    .search-btn {
        cursor: pointer;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 52px;
        height: 50px;
        border: 1px solid #e0e0e0;
        font-size: 24px;
        line-height: 24px;
        background: #fff;
        color: #616161;
        outline: 0;
        transition: all .3s;
    }
    .search-btn:hover {
        color: #fff;
        background: #ff6700;
        border: 1px solid #ff6700 !important;
    }
/*header-nav的菜单列表*/
.header-nav-manu {
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 0;
    height: 0px;
    width: 100%;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    transition: all .3s .2s;
}
/*父子元素hover*/
.nav-item:hover .header-nav-manu {
    height: 229px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18); 
}
.children-list {
    position: absolute;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px; 
}

    .children-list li {
        position: relative;
        float: left;
        width: 180px;
        padding: 35px 12px 0;
        text-align: center;
    }
    .children-list li div,.children-list li a{
        display: block;
        cursor: pointer;
    }
    .children-list li:nth-child(1) .figure {
        background-repeat: no-repeat;
        background-image: url(./img/header-phone/1.png);
    }
    .children-list li:nth-child(2) .figure {
        background-repeat: no-repeat;
        background-image: url(./img/header-phone/2.png);
    }
    .children-list li:nth-child(3) .figure {
        background-repeat: no-repeat;
        background-image: url(./img/header-phone/3.jpg);
    }
    .children-list li:nth-child(4) .figure {
        background-repeat: no-repeat;
        background-image: url(./img/header-phone/4.png);
    }
    .children-list li:nth-child(5) .figure {
        background-repeat: no-repeat;
        background-image: url(./img/header-phone/5.png);
    }
    .children-list li:nth-child(6) .figure {
        background-repeat: no-repeat;
        background-image: url(./img/header-phone/6.jpg);
    }
        .children-list li:nth-child(n + 2)::before {
            position: absolute;
            left: 0;
            top: 35px;
            xz-index: 1;
            width: 1px;
            height: 100px;
            content: "";
            background-color: #e0e0e0;
        }
        .children-list li:nth-child(-n + 3)::after {
            position: absolute;
            top: 0px;
            left: 69px;
            xz-index: 1;
            width: 64px;
            height: 18px;
            padding: 1px 0;
            border: 1px solid #ff6700;
            content: "新品";
            color: #ff6700;
        }
        .children-list li:nth-child(4)::after {
            position: absolute;
            top: 0px;
            left: 69px;
            xz-index: 1;
            width: 64px;
            height: 18px;
            padding: 1px 0;
            border: 1px solid #ff6700;
            content: "热卖";
            color: #ff6700;
        }
    .children-list .figure {
        width: 160px;
        height: 110px;
        margin: 0 auto 16px;;
        background-position: center;
        background-size: cover;
    }
    .children-list .title {
        margin: 0;
        line-height: 20px;
    }
    .children-list .price {
        margin: 0;
        line-height: 20px;
        color: #ff6700;
    }
/*home主屏部分（轮播图）*/
.home-container {
    position: relative;
}
.home {
    position: relative;
    margin-bottom: 26px;
}
/*---------------------------------自动轮播图start---------------------------------*/
.home-slider {
    position: relative;
    height: 460px;
    xoverflow: hidden;
}
.slider-view {
    position: relative;
    width: 100%;
    xoverflow: hidden;
    height: 460px;
}
.slider-view a {
    position: absolute;
    display: block;
}
.slider-view a .slider-image {
    width: 1226px;
    height: 460px;
}
.slider-view a:nth-child(1) {
    animation: loop1 24s infinite;
}
.slider-view a:nth-child(2) {
    animation: loop2 24s infinite;
}
.slider-view a:nth-child(3) {
    animation: loop3 24s infinite;
}
.slider-view a:nth-child(4) {
    animation: loop4 24s infinite;
}
.slider-view a:nth-child(5) {
    animation: loop5 24s infinite;
}
.slider-view a:nth-child(6) {
    animation: loop6 24s infinite;
}
@keyframes loop1 {
    0% {
        opacity: 1;
    }
    13% {
        opacity: 1;
    }
    17% {
        opacity: 0;
    }
    97% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loop2 {
    0% {
        opacity: 0;
    }
    13% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    34% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loop3 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    34% {
        opacity: 1;
    }
    47% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loop4 {
    0% {
        opacity: 0;
    }
    47% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    64% {
        opacity: 1;
    }
    68% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loop5 {
    0% {
        opacity: 0;
    }
    64% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    81% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loop6 {
    0% {
        opacity: 0;
    }
    81% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.slider-controls a {
    position: absolute;
    top: 50%;
    z-index: 50;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    outline: 0;
    cursor: pointer;
}
.slider-controls .prev {
    float: left;
    left: 234px;
    background: url(//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -84px 50%;
}
.slider-controls .prev:hover {
    background-position: 0 50%;
}
.slider-controls .next:hover {
    background-position: -42px 50%;
}
.slider-controls .next {
    float: right;
    right: 0;
    background: url(//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -125px 50%;  
}
/*---------------------------------自动轮播图end---------------------------------*/

/*-------------------------------手动轮播图start---------------------------------*/
.home-slider-manual {
    position: relative;
    height: 460px;
    xoverflow: hidden;
}
.slider-view-manual {
    position: relative;
    width: 100%;
    xoverflow: hidden;
    height: 460px;
}
.slider-view-manual input {
    display: none;
}
.slider-view-manual div a {
    position: absolute;
    display: block;
}
.slider-view-manual div a .slider-image {
    opacity: 0;
    width: 1226px;
    height: 460px;
    transition: all 1s;
}

.slider-view-manual div label {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 50;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    outline: 0;
    cursor: pointer;
}
.slider-view-manual div .prev {
    float: left;
    left: 234px;
    background: url(//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -84px 50%;
}
.slider-view-manual div .prev:hover {
    background-position: 0 50%;
}
.slider-view-manual div .next:hover {
    background-position: -42px 50%;
}
.slider-view-manual div .next {
    float: right;
    right: 0;
    background: url(//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -125px 50%;
}
.slider-view-manual input:checked+div .slider-image{
    opacity: 1;
}
.slider-view-manual input:checked+div label{
    display: block;
}
/*---------------------------------手动轮播图end----------------------------------*/

.site {
    z-index: 60;
    position: absolute;
    top: 0;
    width: 234px;
    height: 460px;
    font-size: 14px;
}

.site-list {
    height: 420px;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    background: rgba(0,0,0,0.6);
    font-size: 14px;
}

.site-list .list-item .title { /*菜单项*/
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    color: #fff;
}
.site-list .list-item .title i { /*菜单小箭头*/
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255,255,255,0.5);
}
.list-item:hover {
    background-color: #ff6700;
}
.list-item:hover .son-menu{
    display: block;
}

.list-item .son-menu {
    display: none;
    z-index: 61;
    height: 458px;
    position: absolute;
    left: 234px;
    top: 1px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
        .menu-phone {
            width: 795px;
        }
        .menu-tv {
            width: 992px;
        }
        .menu-life {
            width: 795px;
        }
        .menu-louder {
            width: 992px;
        }
        .menu-power {
            width: 795px;
        }
        .menu-router {
            width: 992px;
        }
        .menu-travel {
            width: 795px;
        }
        .menu-furniture {
            width: 992px;
        }
        .menu-smart {
            width: 795px;
        }
        .menu-laptop {
            width: 795px;
        }
.list-col {
    float: left;
    width: 265px;
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
}
.list-col li {
    position: relative;
    float: left; 
    height: 76px;
}

.list-col a {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
    text-decoration: none;
}
.list-col a img {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.list-col a .text {
    line-height: 40px;
}
.list-col li:hover .text {
    color: #ff6700;
}

.home-sub {
    margin-top: 14px;
}
.row {
    margin-left: -14px;
}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span20 {
    
    float: left;
    margin-left: 14px;
    min-height: 1px;
}
.span4 {
    width: 234px;
}
.home-channel-list {
    float: left;
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background-color: #5f5750;
}
.home-channel-list li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list a {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;      /*ellipsis必须与overflow hidden连用，并且要设置不能换行，才能生效*/

    cursor: pointer;
    text-decoration: none;
    display: block;
    padding-top: 18px;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
}
.home-channel-list i {
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}

.home-channel-list .exposure::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    background: #665e57;
}
.home-channel-list .exposure::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.home-channel-list .exposure:hover a {
    color: #fff;
}
.span16 {
    width: 978px;
}
.home-promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.home-promo-list li {
    margin-left: 15px;
    float: left;
    width: 316px;
    height: 170px;
    transition: box-shadow .2s linear;
}
    .home-promo-list li:first-child {
        margin-left: 0px;
    }
.home-promo-list img {
    width: 316px;
    height: 170px;
}
.home-promo-list li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}