<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="name">
            <span v-show="name">名字是：{{name}}</span>
        </div>
        <div>
            <input type="text" v-model="age">
            <span v-show="age">年龄是：{{age}}</span>
        </div>
        <div>
            <input type="text" v-model="gender">
            <span v-show="gender">性别是：{{gender}}</span>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script src="js/main.js"></script>
</html>